.task-description-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    left: 0px;
    right: 0px;
    margin-top: 100px;

}

.page-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 60px;
    gap: 10px;

    height: 506px;

    background: #DCE8FF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.page-header-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 916px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    height: 346px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.crumbs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.project-name {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 44px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.stat-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.people-done-counter {
    height: 24px;

    /* txt */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.people-want-counter {
    height: 24px;

    /* txt */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.deadline {
    height: 20px;

    /* headers/h3 */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.upload-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 8px;

    width: 235px;
    height: 52px;

    /* buttons/accent default */

    background: #504EFF;
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.upload-button > span {

    background-image: url('../img/upload.svg');
}

.upload-button:disabled {
    background: #EFEFEF;
    border-radius: 30px;
}

.upload-button:disabled > div {
    color: #686868;
}

.upload-button:disabled > span {
    background: url('../img/upload-gray.svg') no-repeat;
}

.upload-button-icon {
    width: 16px;
    height: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.upload-button-text {
    width: 147px;
    height: 20px;

    /* buttons */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.task-description-image {
    width: 351px;
    height: 346px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.task-tabs-container {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 60px;
    gap: 64px;

    height: 106px;

    background: #FFFFFF;
    border: 1px solid #E6E1DB;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.about-task-container {
    height: 598px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.task-description-page-flow {
    position: absolute;
    min-height: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    display: table;
}

.task-description-content-container {
    margin-top: 100px;
    display: table-row;
    height: 100%;
}

.unselected-tab {
    height: 26px;
    border: none;
    background-color: white;

    /* menu2 */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* txt */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.unselected-tab:active {
    outline: none;
    border: none;
    background-color: white;
}


.unselected-tab:focus {
    outline: none;
    border: none;
    background-color: white;
}

#selected-tab {
    font-weight: 700 !important;
}

.task-description-works-container {
    flex: none;
    order: 2;
    flex-grow: 0;
    align-self: stretch;
}

.crumbs > div {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */


    color: #000000;
}

.crumbs > a {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */


    color: #000000;
}