.work-case-content {
    flex-direction: column;
    padding: 0px;
    gap: 64px;
    position: relative;

    margin-top: 154px;

    width: 1278px;
    left: calc(50% - 1278px/2);
    display: inline-flex;

    flex-direction: column;
    align-items: center;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.user-info-like-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 1176px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.user-info-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 16px;
    align-items: center;

    width: 375px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.user-info-avatar {
    width: 52px;
    height: 52px;

    border-radius: 100px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.user-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.name-subscribe-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.user-info-name {
    font-family: var(--font-family-mont-semibold);
;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subscribe-button {
    font-family: var(--font-family-mont-regular);
;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;

    background: none;
    border: none;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subscribe-button:active {
    outline: none;
}

.subscribe-button:focus {
    outline: none;
}

.for-who {
    font-family: var(--font-family-mont-regular);
;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    color: #686868;
}

.for-who {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.for-who-name {
    font-weight: 600;
    color: black;
}

.like-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 16px 20px;
    gap: 10px;

    width: 102px;
    height: 55px;

    background: #FFFFFF;
    border: 1px solid #504EFF;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.like-button:active {
    outline: none;
}

.like-button:focus {
    outline: none;
}

.like-button-liked:active {
    outline: none;
}

.like-button-liked:focus {
    outline: none;
}


.like-button-icon {
    width: 26px;
    height: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.like-button-count {
    font-family: var(--font-family-mont-semibold);
;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: #504EFF;

    margin-top: -3px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.like-button-liked {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 16px 20px;
    gap: 10px;

    width: 102px;
    height: 55px;

    background: #504EFF;
    border: 1px solid #504EFF;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.like-button-count-white {
    font-family: var(--font-family-mont-semibold);
;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: white;

    margin-top: -3px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.work-description {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #E6E1DB;

    font-family: var(--font-family-mont-regular);
;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #000000;
    padding: 64px 350px 64px 0px;

    background: #FFFFFF;

    align-self: stretch;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.work-case-page-flow {
    position: absolute;
    min-height: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    display: table;
}

.work-case-outer-content-container {
    display: table-row;
    height: 100%;
}