.about-task-flow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 60px;
    gap: 64px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.company-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.company-description-header {
    width: 778px;

    /* headers/h1 */

    font-family: var(--font-family-mont-bold);
;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.company-description {
    width: 778px;

    font-family: var(--font-family-mont-regular);
;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.company-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 778px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.task-description-header {
    width: 778px;

    /* headers/h1 */

    font-family: var(--font-family-mont-bold);
;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.task-description {
    width: 778px;

    font-family: var(--font-family-mont-regular);
;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}