.about-task-container {
    height: 598px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.about-task-flow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    position: absolute;
    width: 778px;
    height: 442px;
    left: 62px;
    top: 78px;
}

.company-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 778px;
    height: 165px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.company-description-header {
    width: 778px;
    height: 51px;

    /* headers/h1 */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.company-description {
    width: 778px;
    height: 90px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.company-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 778px;
    height: 213px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.task-description-header {
    width: 778px;
    height: 51px;

    /* headers/h1 */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.task-description {
    width: 778px;
    height: 138px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}