.main-page {
    display: block;
    width: 100%;
}

.page-flow {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    width: 1600px;
    height: 2193px;
    left: calc(50% - 1600px/2);
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    flex: none;
    order: 1;
    flex-grow: 0;
    height: 2193px;
    top: 93px;
    width: 100%;
    margin-bottom: 160px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    width: 1600px;

    height: 805px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.banner-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 714px;
    height: 420px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.banner-header {
    width: 714px;
    height: 164px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.banner-text {
    width: 425px;
    height: 108px;

    /* txt big */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.banner-img {
    width: 755px;
    height: 755px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.tasks-button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;

    width: 170px;
    height: 52px;

    /* buttons/accent default */

    border: 1px solid #504EFF;
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

    background: white;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    /* buttons/accent default */

    color: #504EFF;
}