.popular-works-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    flex-wrap: wrap;
    
    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.popular-works-list-container {
}

.nothing-found-message {
    height: 312px;

}