.task-description-page-flow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 1602px;
    left: 0px;
    right: 0px;
    top: 96px;
}

.page-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1602px;
    height: 612px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.page-header-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 916px;

    width: 1478px;
    height: 346px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 350px;
    height: 346px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.crumbs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 188px;
    height: 18px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;

    width: 350px;
    height: 180px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.project-name {
    width: 350px;
    height: 44px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 44px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.stat-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 137px;
    height: 100px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.people-done-counter {
    height: 24px;

    /* txt */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.people-want-counter {
    height: 24px;

    /* txt */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.deadline {
    height: 20px;

    /* headers/h3 */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.upload-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 8px;

    width: 235px;
    height: 52px;

    /* buttons/accent default */

    background: #504EFF;
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.upload-button-icon {
    width: 16px;
    height: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.upload-button-text {
    width: 147px;
    height: 20px;

    /* buttons */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.task-description-image {
    width: 351px;
    height: 346px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}