.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 28px 32px;
    gap: 92px;

    width: 476px;
    height: 225px;

    background: #EFEFEF;
    border-radius: 12px;

    box-sizing: border-box;
}

.name-type-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 222.95px;
    height: 65px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.task-item:hover {
    background-color: #e1e1e1;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.task-theme {

    width: 222.95px;
    height: 18px;

    /* small txt */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    color: #000000;

    text-decoration: none;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.task-name {
    width: 222.95px;
    height: 31px;

    /* headers/h2 */

    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.works-count-deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 222.95px;
    height: 52px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.works-count {
    width: 222.95px;
    height: 19px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.deadline {
    width: 222.95px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;
    height: 162px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.task-icon {
    width: 165px;
    height: 165px;
    /* Inside auto layout */
    position: relative;
    right: 64px;
    /*flex: none;*/
    /*order: 1;*/
    /*flex-grow: 0;*/
}