@font-face {
  font-family: "Mont-Bold";
  src: url('https://anima-uploads.s3.amazonaws.com/5c41cf553ad67b0009daf558/Fontfabric - Mont Bold.otf') format("opentype");
}

@font-face {
  font-family: "Mont-Regular";
  src: url('https://anima-uploads.s3.amazonaws.com/5c41cf553ad67b0009daf558/Fontfabric - Mont Regular.otf') format("opentype");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: url('https://anima-uploads.s3.amazonaws.com/5bd8a86eee41d2000ab65707/Mont-SemiBold.otf') format("opentype");
}


:root {
  --black: #000000;
  --blue: #504EFF;
  --granite-gray: #686868;
  --white: #ffffff;

  --button-hover: #5E5BFF;
  --button-pressed: #6B68FF;
  --button-disable: #EFEFEF;

  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-xl: 40px;

  --font-family-mont-bold: "Mont-Bold", Helvetica;
  --font-family-mont-regular: "Mont-Regular", Helvetica;
  --font-family-mont-semibold: "Mont-SemiBold", Helvetica;
}

.mont-regular-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-mont-regular);
}